html, body {
    font-family: "Gantari", "sans-serif";
    font-weight: 700;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
}

.main {
    max-width: 420px; 
    margin: 20px auto; 
    padding: 0 15px; 
    text-align: center;
    box-sizing: border-box;
}

.border::after {
    display: none; 
}

h1, h2, p, button {
    background-color: #F86400; 
    color: white;
    padding: 20px;
    border-radius: 25px; 
    margin: 15px 0; 
    width: 100%;
    box-sizing: border-box; 
    font-size: 19px;
    font-weight: 700;
    border: none; 
    text-align: center; 
}

h2 {
    background-color: #FDA100; 
}

button {
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d85700; 
}

button.btn-danger {
    background-color: #dc3545;
}
button.btn-danger:hover {
    background-color: #c82333;
}

input[type=number] {
    font-family: "Gantari", "sans-serif";
    font-weight: 700;
    font-size: 19px;
    border-radius: 25px; 
    
    background: #ffffff;
    border: 4px solid #F86400; 
    color: #F86400; 

    width: 100%;
    height: auto; 
    padding: 20px;
    margin: 15px 0;
    box-sizing: border-box;
    text-align: center; 
}

input::placeholder {
    color: rgba(248, 100, 0, 0.6);
    font-style: italic;
    text-align: center;
}

#riwayat-list {
    margin-top: 20px;
    text-align: left;
}

.riwayat-item {
    background-color: #F86400;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
    border-left: 7px solid; 
}

.riwayat-item span {
    font-weight: 400;
    font-size: 14px;
    color: #f0f0f0; 
}

.riwayat-item.pemasukan {
    border-left-color: #28a745; 
}

.riwayat-item.pengeluaran {
    border-left-color: #dc3545; 
}
