.main {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	font-family: "Gantari", "sans-serif";
	font-weight: 700;
	justify-content: center;
	font-size: 12px;
}

.border {
	position: relative;
}

.border::after {
	content: "";
	display: block;
	width: 200px;
	height: 5px;
	background: #F86400;
	border-radius: 5px;
	margin: 0 auto;
}

h1 {
	width: 200px;
	background-color: #F86400;
	padding: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: inherit;
}

h2 {
	width: 200px;
	background-color: #FDA100;
	color: white;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: inherit;
}

p {
	font-size: inherit;
}

input[type=number] {
	border-radius: 10px;
	border: 2px solid #F86400;
}

.input2 {
	margin-bottom: 15px;
}